/* The Southern Front*/

#articlefix{
  height: 100vh;
  margin: auto;
}

article {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: var(--color2);
    border: 5px solid var(--color1);
    border-radius: 50px;
    float: none;
    color: var(--font);
    columns: 40% 2;
    column-gap: 10vw;
  }
  
  h2 {
    font-size: 5vh;
  }
  
  #close {
    text-decoration: none;
    text-align: center;
    float: right;
    height: 2vh;
    width: 2vh;
    background-color: var(--color1);
    color: var(--font);
    border-radius: 50%;
  }
  
  #closea {
    padding-top: 5px;
    margin:auto;
    text-decoration: none;
    text-align: center;
  }
  
  /*The Eastern Front*/

  @media screen and (min-width: 600px) {
    #articlefix {
      margin-top: 20vh;
    }
    article{
      height: 60vh;
      width: 60vw;
      margin: 20vh 20vw auto;
    }
  }