@import url("table.css");

@font-face {
  font-family: bodyfont;
  src: url("fonts/Salihone-6Y30v.otf");
}

@font-face {
  font-family: headfont;
  src: url("fonts/MuedaCity-BWDql.ttf");
}

:root {
  --font: #01263D;
  --bg: #72bab5;
  --color1: #cc0000;
  --color2: #ef4043;
  --color3: #0e4c6d;
  --color4: #e98124;
}

* {
  font-family: "bodyfont", "arial", "helvetica", sans-serif;
}

a:active {
  color: var(--font);
  text-decoration: none;
}

body {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  background-color: var(--bg);
}

#page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url("imgs/ciclone_doodle_capa.png");
  background-size: 100vw 100vh;
}

main {
  height: 100%;
}

#buffer {
  position: relative;
  height: 50vh;
  z-index: -9;
}

/* Capa */
header {
  color: var(--font);
  font-size: 5em;
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

nav {
  z-index: 1;
  position: absolute;
  padding-top: 40vh;
  padding-left: 10vw;
  width: 90%;
  font-size: 5vh;
  display: inline-block;
}

br {
  height: 5vh;
}

#frontpage-img {
  z-index: 0;
  display: block;
  position: relative;
  margin: auto;
  margin-right: 7vw;
  padding: auto;
  padding-top: 10vh;
  max-height: 80vh;
  width: auto;
}

#frontpagetitle {
  display: inline-block;
  position: relative;
  margin: 5vh 1vw auto;
  padding: 1vw;
  border: 5px solid var(--font);
  border-radius: 20px;
  background-color: var(--color1);
  filter: drop-shadow(16px 16px var(--font));
  transition: bottom .2s ease;
}

#frontpagetitle:hover {
  bottom: -16px;
  filter: none;
}

h1 {
  position: absolute;
  font-size: 10vw;
  padding-left: 10vw;
  padding-bottom: 5vh;
  color: var(--font);
  margin-left: 1vw;
  bottom: 0;
}

/* Secções em que ficam os textos */
section {
  width: 100vw;
}

#day-page,
#about-page {
  max-width: 75%;
  min-height: 10%;
  min-width: 10%;
  margin: 0 auto;
  background-color: var(--color1);
  padding: 5vw;
  border: var(--font) 5px solid;
  filter: drop-shadow(16px 16px var(--font));
  border-radius: 5vh;
}

/* Botão de voltar atrás */
#return {
  font-family: 'bodyfont';
  display: flex;
  position: absolute;
  height: 10vh;
  width: 15vw;
  right: 16vw;
  bottom: 40vh;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  font-size: 400%;
  border-radius: 20px;
  text-align: center;
  color: var(--color4);
  border: 5px solid var(--font);
  border-radius: 20px;
  background-color: var(--color1);
  filter: drop-shadow(16px 16px var(--font));
}

#return-text {
  color: var(--font);
  font-weight: normal;
  line-height: 1.3;
  font-size: 150%;
}

/* Texto dentro dos "popups" */

p {
  color: var(--font);
  columns: 40vw 2;
  column-gap: 1vw;
  line-height: 1.5;
  overflow: clip;
}

h3 {
  color: var(--font);
  position: relative;
  font-size: 2vh;
  text-align: right;
  bottom: -5vh;
}

s {
  font-family: "bodyfont";
  text-decoration: line-through;
  border-radius: 1vh;
}

/* tratar das fontes */

#unreadable,
s::selection {
  background-color: var(--font);
}

p,
h3,
td,
th,
tr {
  font-size: 200%;
  font-family: "bodyfont";
}

h2 {
  font-size: 5vh;
  color: var(--font);
  padding-bottom: 5vh;
}

a,
h1,
h2,
h3,
th,
td,
strong {
  font-family: "headfont";
}

.b-1,
.b-2 {
  display: inherit;
}

#literally-just-so-that-the-calendar-button-leads-to-slightly-above-the-calendar {
  height: 5vh;
}

/* Versão mobile
Eu sei que o professor nos disse estritamente para não fazermos assim,
mas só me lembrei a meio do trabalho e parecia mais facil continuar
*/

@media screen and (max-width: 600px) {
  #page {
    background-size: auto 100vh;
    background-position: 25% 0;
  }

  nav {
    display: grid;
    width: 100vw;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 10vh;
    margin-top: 70vh;
    padding-right: 10vw;
  }

  #frontpagetitle {
    display: block;
    position: absolute;
    text-align: center;
    max-width: 45vw;
    filter: none;
    padding: 3vw;
    bottom: 0;
  }

  #frontpagetitle:hover {
    bottom: 0;
  }

  a {
    font-size: 10vw;
  }

  .b-1 {
    left: 40vw !important;
  }

  .b-2 {
    left: 5vw !important;
  }

  h1 {
    position: absolute;
    font-size: 25vw;
    top: 5vh;
    margin: 0 auto;
  }

  #frontpage-img {
    position: absolute;
    height: auto;
    width: 140vw;
    bottom: -3vw;
    margin: 0 auto;
    margin-left: -20vw;
  }

  #return {
    display: flex;
    position: absolute;
    right: 40vw;
    border-radius: 20px;
    margin-bottom: -15vh;
    text-align: center;
    width: 50vw;
    left: 25vw;
  }

  th {
    font-size: 120%;
  }

  td,
  tr {
    font-size: 150%;
  }

  h3 {
    bottom: 0;
  }

  #articlefix {
    margin-top: 20vh;
  }

  article {
    height: 60vh;
    width: 60vw;
    margin: 20vh 20vw auto;
  }
}