/* @import url("reset.css"); */
@import url("table.css");
@import url("days.css");
:root {
  --font: #1F1717;
  --bg: #FCF5ED;
  --color1: #CE5A67;
  --color2: #F4BF96;
  --accent: #1F1717;
}
 
*{
  text-decoration:none;
  font-family: "arial", "helvetica", sans-serif;
}
a:active {
  color: var(--font);
  text-decoration: none;
}
html, body {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

#page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--bg);
}

#buffer {
  height: 50vh;
}

header {
  color: var(--font);
  font-size: 5em;
  position: relative;
  display: block;
  width: 100%;
  /* this unit uses html body mesures */
  height: 100vh;
}

nav {
  height: 100%;
  width: 100vw;
  font-size: 5vh;
  display:inline-block;
}
br {
  height: 5vh;
}
#frontpagetitle {
  display: inline-block;
  margin: 10%  5vw auto;
  padding: 10px;
  border: 5px solid var(--font);
  border-radius: 20px;
  background-color: var(--color2);
}

h1 {
  position: absolute;
  font-size: 10vh;
  bottom:5vh;
  color: var(--accent);
}

section {
  height: 100vh;
}

#articlefix{
  height: 80vh;
  padding-top: 10vh;
}
