table {
  font-size: 2vh;
  padding-top: 10vh;
  margin: 10vh auto;
  height: 60vh;
  width: 95vw;
  text-align: center;
}
th, td {
  color: var(--font);
  margin-top: 50px;
  margin:auto;
  border: solid 5px var(--font);
  background-color: var(--color2);
  padding-top: 40px;
}
th {
  color: transparent;
  background-color: var(--font);
  border-top: 50px;
}
#return-d {
  margin: auto;
}
#return {
  display: inline-block;
  margin: auto;
  margin-left: -5px;
  margin-top: -5px;
  padding: 10px;
  height:5vh;
  width:5vh;
  border-radius: 0 0 50%;
  background-color:var(--color1);
  border: 5px solid var(--font);
  text-align:center;
  color: var(--font);
  text-decoration: none;
}

.day, .day:after, .day:visited {
  color: var(--font);
  background-color: var(--color1);
}
