table {
  font-size: 2vh;
  padding-top: 10vh;
  margin: 10vh auto;
  height: 60vh;
  width: 95vw;
  text-align: center;
}
th, td {
  color: #bbb;
  padding:10px;
  margin-top: 50px;
  margin:auto;
  border: solid 5px var(--color1);
  background-color: var(--bg);
}
th {
  color: transparent;
  background-color: var(--color1);
}
#return-d {
  margin: auto;
}
#return {
  display: inline-block;
  margin: auto;
  padding: 10px;
  height:5vh;
  width:5vh;
  border-radius: 0 0 50%;
  background-color:var(--color1);
  text-align:center;
  color: var(--bg);
  text-decoration: none;
}

.day, .day:after, .day:visited {
  color: var(--color3);
}
